---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="container mt-8 px-6 sm:mt-24 sm:px-16 md:px-28">
		<main>
			<slot />
		</main>
		<footer class="text-gray-500 text-sm">&copy; 2005-{new Date().getFullYear()} Miro Wilms</footer>
	</body>
</html>